body {
  background-color: whitesmoke;
}

.App {
  text-align: center;
  justify-content: center;
}

.title{
  color: red;
}

input {
  margin: 7px;
  padding: 10px;
  font-size: 20px;
}

button {
  margin: 5px;
}

.task {
  font-size: 10px;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  background-color:seagreen;
  color: black;
  
}


.delete-btn {
  background-color: red;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
